<footer class="site-footer" id="colophon">
    <div class="container">
        <div class="row">
            
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 footer-widget">
                <aside class="widget widget_text">
                    <div class="textwidget">
                        <p>Công ty TNHH Corize VietNam</p>
                        <p>Địa chỉ: Tầng 4, Tòa nhà Sunrise Building 2, Số 10 Ngô Gia Tự, Phường Thạch Thang, Quận Hải Châu, Thành phố Đà Nẵng.</p>
                        <p>Điện thoại: 0368661964

                        </p>
                        <p>Email: tuyensinh@coders-x.com

                        </p>
                    </div>
                </aside>
                <aside class="widget socialmedia-widget">
                    <ul class="social">
                        <li><a href="https://twitter.com/" target="_blank" ><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/"target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                        
                        
                        
                        <li><a href="https://www.youtube.com/"target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-xs-12 col-sm-4 footer-widget">
                <aside class="widget widget_nav_menu">
                    <ul class="menu">
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/classes">Lớp học</a></li>
                        <li><a href="/sign-up">Tạo tài khoản</a></li>
                        <li><a href="/users">Danh sách học viên</a></li>
                        
                    </ul>
                </aside>
            </div>
            <div class="col-xs-12 col-sm-4 footer-widget">
                <aside class="widget newsletter-widget">
                    <a href="/login"><h3>Login</h3></a>
                    <p>Điền Email để theo dõi những thông báo mới nhất </p>
                    <form id="newsletter">
                        <input type="email" name="email" class="form-control" placeholder="Email" />
                        <button type="submit" value="" class="btn btn-orange btn-medium"><i
                                class="lnr lnr-arrow-right"></i></button>
                    </form>
                </aside>
            </div>
        </div>
    </div>

    <!--div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="copyright">

                    <p class="develop col-xs-12 col-sm-4 text-right"><a target="_blank"
                            href="https://www.templateshub.net">Templates Hub</a> </p>
                </div>
            </div>
        </div>
    </div-->
</footer>