<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js">
</script>
<style>
    .error {
        color: red;
    }
</style>

<body>

    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <header class="entry-header">
                    <h1 class="entry-title">Đăng ký</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="page-spacer clearfix">
        <div id="primary" class="content-area">
            <div class="container">
                <div class="row">
                    <main id="main" class="site-main col-xs-12">
                        <div class="col-xs-12 col-sm-10 register-form form clearfix">
                            <h3>Đăng ký</h3>
                            <form id="validation" name="loginform" id="student-settings" class="student-settings"
                                method="post">
                                <label>Tên <input name="firstname" value="" type="text"></label>
                                <label>Họ <input name="lastname" value="" type="text"></label>
                                <label>Số điện thoại <input name="phone" value="" type="text"></label>
                                <label>Địa chỉ <input name="address" value="" type="text"></label>
                                <label>Tên đăng nhập <input name="username" value="" type="text"></label>
                                <label>Email <input name="email" value="" type="text"></label>
                                <label>Mật khẩu <input id="password" name="password" value="" type="password"></label>
                                <label>Nhập lại mật khẩu: <input name="confirm_password" value=""
                                        type="password"></label>
                                <p>Bạn đã có tài khoản trước đó ? <b><a href="login">Đăng nhập ngay!</a></b></p>
                                <input name="submit" class="btn btn-default pull-right" value="Tạo tài khoản"
                                    type="submit">
                            </form>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-8">
                        <h3>Remaining essentially unchanged.</h3>
                        <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                    <a href="register.html#" class="btn btn-medium btn-default pull-right">Know More <i
                            class="lnr lnr-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </section>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js">
</script>
<script>
    $(document).ready(function () {
        $("#validation").validate({
            rules: {
                firstname: {
                    required: true

                },
                lastname: {
                    required: true

                },
                username: {
                    required: true,
                    minlength: 5
                },
                email: {
                    required: true,
                    email: true // bắt lỗi định dạng mail
                },


                password: {
                    required: true,
                    minlength: 5
                },
                confirm_password: {
                    equalTo: "#password"
                }
            },
            messages: {
                firstname: {
                    required: "Vui lòng nhập Tên"

                },
                lastname: {
                    required: "Vui lòng nhập Họ"

                },
                username: {
                    required: "Vui lòng nhập tên đăng nhập",
                    minlength: "Username quá ngắn"
                },
                email: {
                    required: "Vui lòng nhập email ",
                    email: "Email sai định dạng, xin vui lòng kiểm tra lại "
                },


                password: {
                    minlength: "Vui lòng nhập ít nhất 5 ký tự"
                },
                confirm_password: {
                    equalTo: "Mật khẩu không trùng"

                }

            }
        });
    });
</script>

<!--login23:54  -->

</html>