<!DOCTYPE html>
<html lang="en">

<!--home-123:03  -->


<body>


  </header>

  <div id="flex" class="flexslider kindergarten">
    <ul class="slides">

      <li style="background:url(images/ban2.jpg) no-repeat center; background-size:cover;">
        <div class="container">
          <div class="row">
            <div class="slide-caption">
              <h2 data-animation="animated bounceInLeft"> Học Trực Tuyến </h2>
              <a href="classes" data-animation="animated zoomInUp" class="btn btn-medium btn-blue">Tham gia <i
                  class="lnr lnr-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </li>


      <li style="background:url(images/ban1.jpg) no-repeat center; background-size:cover;">
        <div class="container">
          <div class="row">
            <div class="slide-caption">
              <a href="login"><h2 data-animation="animated bounceInLeft"> Đã có tài khoản </h2></a>
              <a href="sign-up" data-animation="animated zoomInUp" class="btn btn-medium btn-blue">Đăng ký ngay <i
                  class="lnr lnr-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>

  <section class="about-with-slide">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 aboutus">
          <div class="row">
            <div class="col-xs-12 col-sm-7">
              <h3><span>Sứ mệnh</span> </h3>
              <p>Cùng với sự phát triển của internet, giáo dục trực tuyến đã nở rộ trên thế giới với những khoá học trực tuyến như OCW (OpenCourseWare – Học liệu mở), MOOCs (Massive Open Online Courses – các khóa học đại trà trực tuyến mở) được cung cấp bởi các trường đại học hàng đầu thế giới trên trang Edx, Coursera… Những khoá học này cho phép học viên tiếp cận với những bài giảng từ các đại học nổi tiếng trong bối cảnh đại dịch Covid ngày càng diễn biến bất thường. 
              </p>
              <p>Với mong muốn tạo một môi trường mà học viên và giáo viên có thể giao tiếp trực tuyến với nhau mà không cần phải trả phí.Chúng tôi ra đời để tạo ra điều đó bằng cách cung cấp môi trường học tập trực tuyến trên website để giúp mọi người có thể học tập và trao đổi thông qua việc học Online.</p>
              
            </div>
            <div class="col-xs-12 col-sm-5">

              <div class="flexslider about-slide">
                <ul class="slides">
                  <li><a href="images/use_img/hoc1.jpg"><img src="images/use_img/hoc1.jpg" alt=""></a></li>
                  <li><a href="images/use_img/hoc.jpg"><img src="images/use_img/hoc.jpg" alt=""></a></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="our-features">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3><span>Tại sao bạn nên học tại đây?</span> </h3>
          <ul>
            <li style="font-size: 20px;">Đây là nơi mọi người có thể học tập, trao đổi ,giúp đỡ nhau cả trong quá trình học cũng như đi làm.</li>
          </ul>
          <div class="col-xs-12 col-sm-4 feature wow bounceInLeft">
            <i class="lnr lnr-graduation-hat"></i>
            <h3>Học tập hiệu quả</h3>
            <p>Giúp học sinh nhút nhát, hướng nội có khả năng tương tác với giáo viên nhiều hơn so với việc học trực tiếp trên lớp. </p>
          </div>
          <div class="col-xs-12 col-sm-4 feature wow bounceInLeft">
            <i class="lnr lnr-bus"></i>
            <h3>Địa điểm linh hoạt</h3>
            <p>Có thể học ở bất cứ đâu, bất cứ khi nào. </p>
          </div>
          <div class="col-xs-12 col-sm-4 feature wow bounceInLeft">
            <i class="lnr lnr-smile"></i>
            <h3>Không gian thoải mái</h3>
            <p>Khi bạn ngồi học trong không gian lý tưởng, bạn sẽ có tâm trạng tốt hơn, từ đó nâng cao chất lượng học tập.</p>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  
 
  
  
  
  
  <section class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-12 col-sm-8">
            <h3 >&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp;   “Stay hungry, stay foolish.”</h3>
            <p>&emsp; &emsp;&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  &emsp; &emsp;  Steve Jobs</p>
          
      </div>
    </div>
  </section>

  <div id="login-form" style="display:none;">
    <div class="row">
      <h3>Login</h3>
      <p>Please Login to Create a New Course</p>
      <form id="login" action="home-1.html#">
        <input name="email" type="text" placeholder="Email or Username">
        <input name="password" type="text" placeholder="Password">
        <div class="row remeber">
          <label><input name="rember" type="checkbox" value=""> Remember Me</label>
          <a href="home-1.html#">Forgot Password?</a>
        </div>
        <div class="text-center button">
          <input name="Login" type="button" value="Login Now">
        </div>
      </form>
    </div>
  </div>

  <div id="register-form" style="display:none;">
    <div class="row">
      <h3>Register</h3>
      <p>Please Register to Create a New Account</p>
      <form id="register" action="home-1.html#">
        <input name="name" type="text" placeholder="Name">
        <input name="username" type="text" placeholder="Username">
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="text" placeholder="Password">
        <input name="confirmpassword" type="text" placeholder="Confirm Password">
        <div class="row new-login">
          Already have an account? <a href="home-1.html#">Login to your account! </a>
        </div>
        <div class="text-center button">
          <input name="create-account" type="button" value="Create an Account">
        </div>
      </form>
    </div>
  </div>


  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <script src="vendor/flexslider/jquery.flexslider-min.js"></script>

  <script src="vendor/owlcarousel/owl.carousel.js"></script>
  <script>
    jQuery.noConflict();
    jQuery(document).ready(function ($) {

      var owl = $("#owl-classes");

      owl.owlCarousel({

        items: 3, //10 items above 1000px browser width
        itemsDesktop: [1000, 3], //5 items between 1000px and 901px
        itemsDesktopSmall: [900, 3], // 3 items betweem 900px and 601px
        itemsTablet: [640, 2],
        itemsMobile: [480, 1], // itemsMobile disabled - inherit from itemsTablet option
        navigation: false,
        pagination: true,
        autoPlay: true
      });

      var owl = $("#owl-teachers");

      owl.owlCarousel({

        items: 2, //10 items above 1000px browser width
        itemsDesktop: [1000, 2], //5 items between 1000px and 901px
        itemsDesktopSmall: [900, 2], // 3 items betweem 900px and 601px
        itemsTablet: [600, 1],
        itemsMobile: [480, 1], // itemsMobile disabled - inherit from itemsTablet option
        navigation: false,
        pagination: true,
        autoPlay: true
      });

    });
  </script>

  <script src="js/theme.js"></script>

  <script type="text/javascript" src="vendor/fancybox/js/jquery.fancybox.js"></script>
  <script type="text/javascript" src="vendor/fancybox/js/custom.fancybox.js"></script>
  <script>
    jQuery.noConflict();
    jQuery('.fancybox').fancybox();
  </script>

  <script src="js/wow.min.js"></script>
  <script> new WOW().init(); </script>
</body>

<!--home-123:18  -->

</html>